
/* Your CSS Code here. */
.holder{
	grid-template-columns:100px 100px ;
	background-color:aqua;
	display:grid;
}
.item-1{
	background-color:red;
}
.item-2{
	background-color:yellow;
}
.item-3{
	background-color:green;
}
.item-4{
	background-color:blue;
}